<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Simple Chat App">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/lobby.css" />
  <script defer src="/socket.io/socket.io.js"></script>

  <title>Simple Chat: Talk to your friends!</title>
</head>
<body>
  <div class="container">
    <h1>Lobby</h1>
    <a href="/1">Go to room</a>
  </div>
</body>
</html>
