<%- include('./partials/header') -%> 
<div class="container">
  <div class="message-container">
      <div class="message-header">
          <h1>Simple Chat</h1>
          <h5>By Nicholas Chumney</h5>
      </div>
      <ul class="message-content"></ul>
      <ul class="message-typing hide"></ul>
      <form class="message-form" action="">
          <input 
              type="text" 
              autocomplete=false
              placeholder="Write your message..."
          />
          <button>Send</button>
      </form>
  </div>
  <div class="user-container">
      <div class="user-header">
          <div>
              <h5>Online: </h5> <p id="user-count">loading...</p>
          </div>
          <div>
              <h5>Name: </h5> <p id="user-name">loading...</p>
          </div>
      </div>
      <ul class="user-content"></ul>    
  </div>
</div>
<p>Click on a name and type to send private message!</p>
<%- include('./partials/footer') -%> 